* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  ​
  body {
    margin: 0;
  }

.style {   
    width: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.063);
    height: 20px;
    margin: 0;
    padding: 0;
}

.clear {
    background-color: rgba(255, 255, 255, 0.063);
    border: 0.5px solid black;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.div-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.background {
    background-size: 100% 100%
}

.floating-menu {
    display: flex;
    position: fixed;
    right: 150px;
    top: 60px;
    width: 8em;
    margin-top: -2.5em;
  }